
.mb-0{
    margin-bottom: 0;
}

.map-container{
    height: calc(100vh - 52px);
    width: 100%;
}
#map-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}

.relative {
    position: absolute;
    bottom: 85px;
    left: 20px;
}
